@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.woff2') format('woff2'),
    url('Poppins-SemiBold.woff') format('woff'),
    url('Poppins-SemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Medium.woff2') format('woff2'),
    url('Poppins-Medium.woff') format('woff'),
    url('Poppins-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.woff2') format('woff2'),
    url('Poppins-Regular.woff') format('woff'),
    url('Poppins-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
