.container {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.container::-webkit-scrollbar {
  width: 6px;
  background-color: var(--sidebar-scroll-bg-color);
  border-radius: 6px;


}

.container::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-scroll-thumb-color);
  border-radius: 6px;

}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar-scroll-thumb-color-HOVER);

}

.container::-webkit-scrollbar-track {
  background-color: transparent;

}